.list{
    padding: 0;
    list-style: none;
    width: 1000px;
    margin: auto;
}
.list li .variable {
    width: 100%;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    background-color: #C9CD78;
    font-size: 18px;
}
.list li .description {
    width: 100%;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 7px;
}
@media screen and (max-width: 1500px) {
    .list{
        padding: 0;
        list-style: none;
        width: 100%;
        margin: 12px auto 0;
    } 
}
