
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.link{
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 1500px) {
  .header {
    margin: 20px auto;
    flex-wrap: wrap;
    width: 310px;
    margin-bottom: 0;
  }

}